In [68]:
import time
import pandas as pd
import numpy as np
from cricket.play.match import Match
from cricket.agents.team import Team
from IPython import display

In [79]:
tm1 = Team('pk92', 'Pakistan')
tm2 = Team('in91', 'India')
tm1.add_players_from_file('datasets/teams/pakistan.csv')
tm2.add_players_from_file('datasets/teams/india.csv')
tm1.set_bowling_order([8,10,9,7,5])
tm2.set_bowling_order([9,10,8,5,7])
match = Match(tm1, tm2, matchformat='T20', pitch_type='green')
match.toss()
match.start()
print(match.batting_team.name)

India

In [80]:
df = pd.DataFrame([], columns=['Batting', 'R', 'B', '4s', '6s', 'S/R'])
df['Batting'] = [pl.full_name for pl in match.batting_team.players]
df = df.fillna('')
new_index = df.index.to_list() + ['Total']
df.loc[len(df.index)] = ['','','','','','']
df.index = new_index

dfb = pd.DataFrame([], columns=['Bowling', 'O', 'M', 'R', 'W', 'Econ'])
dfb['Bowling'] = [pl.full_name for pl in np.asarray(match.bowling_team.players)[match.bowling_team.bowling_order]]
dfb = dfb.fillna('')

In [81]:
while(True):
    cs = [match.striker, match.nonstriker]
    cb = match.bowler
    match.next()
    pl1 = match.batting_team.players[cs[0]]
    pl2 = match.batting_team.players[cs[1]]
    df.loc[cs[0], ['R','B','4s','6s','S/R']] = [pl1.batting.runs, pl1.batting.num_balls, pl1.batting.num_4s, pl1.batting.num_6s, pl1.batting.SR]
    df.loc[cs[1], ['R','B','4s','6s','S/R']] = [pl2.batting.runs, pl2.batting.num_balls, pl2.batting.num_4s, pl2.batting.num_6s, pl2.batting.SR]
    df.loc['Total', ['R','B']] = [match.current_score, 
                                  f'{match.current_over}.{match.current_ball}']
                                  #pd.to_numeric(df.loc[:df.index[-2],'B'], errors='coerce').sum()]
    
    bl = match.bowling_team.players[match.bowling_team.bowling_order[cb]]
    dfb.loc[cb, ['O','M','R','W','Econ']] = [f'{bl.bowling.num_overs}.{bl.bowling.ball_num}',bl.bowling.num_maiden_overs, bl.bowling.runs, bl.bowling.wickets, bl.bowling.econ]
    #print(bl.full_name, bl.bowling.num_overs, bl.bowling.ball_num)
    display.clear_output(wait=True)
    time.sleep(0)
    if match.end_innings:
        break
    display.display(df)
    display.display(dfb)
    #print(f'Score: {match.current_score}, Overs: {match.current_over}.{match.current_ball}')
display.display(df)
display.display(dfb)

                    Batting    R     B 4s 6s    S/R
0                 KL, Rahul   65    41  7  1  159.0
1             Rohit, Sharma   27    10  3  2  270.0
2              Virat, Kohli    6     3  0  1  200.0
3         Suryakumar, Yadav   40    20  3  0  200.0
4           Dinesh, Karthik    9     8  1  0  112.0
5            Hardik, Pandya    3     6  0  0   50.0
6               Axar, Patel    0     1  0  0    0.0
7      Ravichandran, Ashwin    8    10  0  0   80.0
8           Mohammed, Shami    0     1  0  0    0.0
9        Bhuvneshwar, Kumar   12     8  1  0  150.0
10          Arshdeep, Singh    0     1  0  0    0.0
Total                        180  18.1

           Bowling    O  M   R  W   Econ
0  Shaheen, Afridi  4.0  0  41  2  10.25
1     Naseem, Shah  4.0  0  40  0   10.0
2      Haris, Rauf  4.0  0  39  2   9.75
3  Mohammad, Wasim  3.1  0  27  2   8.53
4     Shadab, Khan  3.0  0  32  4  10.67

In [82]:
print(f'Score: {match.current_score}, Overs: {match.current_over}.{match.current_ball}')

Score: 180, Overs: 18.1

In [83]:
match.next()

First innings done! please start the second innings.

In [84]:
match.start()
print(match.batting_team.name)

Pakistan

In [85]:
df = pd.DataFrame([], columns=['Batting', 'R', 'B', '4s', '6s', 'S/R'])
df['Batting'] = [pl.full_name for pl in match.batting_team.players]
df = df.fillna('')
new_index = df.index.to_list() + ['Total']
df.loc[len(df.index)] = ['','','','','','']
df.index = new_index

dfb = pd.DataFrame([], columns=['Bowling', 'O', 'M', 'R', 'W', 'Econ'])
dfb['Bowling'] = [pl.full_name for pl in np.asarray(match.bowling_team.players)[match.bowling_team.bowling_order]]
dfb = dfb.fillna('')

In [86]:
while(True):
    cs = [match.striker, match.nonstriker]
    cb = match.bowler
    match.next()
    pl1 = match.batting_team.players[cs[0]]
    pl2 = match.batting_team.players[cs[1]]
    df.loc[cs[0], ['R','B','4s','6s','S/R']] = [pl1.batting.runs, pl1.batting.num_balls, pl1.batting.num_4s, pl1.batting.num_6s, pl1.batting.SR]
    df.loc[cs[1], ['R','B','4s','6s','S/R']] = [pl2.batting.runs, pl2.batting.num_balls, pl2.batting.num_4s, pl2.batting.num_6s, pl2.batting.SR]
    df.loc['Total', ['R','B']] = [match.current_score, 
                                  f'{match.current_over}.{match.current_ball}']
                                  #pd.to_numeric(df.loc[:df.index[-2],'B'], errors='coerce').sum()]
    
    bl = match.bowling_team.players[match.bowling_team.bowling_order[cb]]
    dfb.loc[cb, ['O','M','R','W','Econ']] = [f'{bl.bowling.num_overs}.{bl.bowling.ball_num}',bl.bowling.num_maiden_overs, bl.bowling.runs, bl.bowling.wickets, bl.bowling.econ]
    #print(bl.full_name, bl.bowling.num_overs, bl.bowling.ball_num)
    display.clear_output(wait=True)
    time.sleep(0)
    if match.end_innings:
        break
    display.display(df)
    display.display(dfb)
    #print(f'Score: {match.current_score}, Overs: {match.current_over}.{match.current_ball}')
display.display(df)
display.display(dfb)

                Batting   R     B 4s 6s    S/R
0           Babar, Azam  10     3  1  1  333.0
1      Muhammad, Rizwan  11    10  2  0  110.0
2         Fakhar, Zaman   5     2  1  0  250.0
3          Shan, Masood  33    18  2  1  183.0
4       Iftikhar, Ahmed  12     7  0  1  171.0
5          Shadab, Khan   0     1  0  0    0.0
6       Mohammad, Nawaz   0     3  0  0    0.0
7       Mohammad, Wasim   9    10  1  0   90.0
8       Shaheen, Afridi   0     1  0  0    0.0
9           Haris, Rauf   1     3  0  0   33.0
10         Naseem, Shah   4     4  0  0  100.0
Total                    92  10.2

                Bowling    O  M   R  W  Econ
0    Bhuvneshwar, Kumar  2.2  0  19  4  8.14
1       Arshdeep, Singh  2.0  0  15  2   7.5
2       Mohammed, Shami  2.0  0  18  0   9.0
3        Hardik, Pandya  2.0  0  12  2   6.0
4  Ravichandran, Ashwin  2.0  0  25  2  12.5

In [66]:
print(f'Overs: {match.current_over}.{match.current_ball}')

Overs: 10.1

In [67]:
match.next()

End of match! Winner: Pakistan

In [57]:
match.team1.players[9].prime

1

In [41]:
match.match_winner.name

'Pakistan'

In [42]:
lst_res = []
for i in range(0, 500):
    tm1 = Team('pk92', 'Pakistan')
    tm2 = Team('in91', 'India')
    tm1.add_players_from_file('datasets/teams/pakistan.csv')
    tm2.add_players_from_file('datasets/teams/india.csv')
    tm1.set_bowling_order([8,10,9,7,5])
    tm2.set_bowling_order([9,10,8,5,7])
    match = Match(tm1, tm2, matchformat='T20', pitch_type='dusty')
    match.toss()
    match.start()
    #print(match.batting_team.name)
    while (True):
        match.next()
        time.sleep(0)
        if match.end_innings:
            break
    match.next()
    match.start()
    while (True):
        match.next()
        time.sleep(0)
        if match.end_innings:
            break
    match.next()
    try:
        winner = match.match_winner.name
    except:
        winner = 'Drawn'
    lst_res.append([match.current_score, match.target_score, winner, match.toss_winner])
    display.clear_output(wait=True)

First innings done! please start the second innings.
End of match! Winner: Pakistan

In [43]:
len(lst_res)

500

In [44]:
pd.DataFrame(lst_res).describe()

                0           1
count  500.000000  500.000000
mean   121.392000  144.184000
std     33.944112   41.809547
min     29.000000   28.000000
25%     98.000000  111.750000
50%    119.000000  141.500000
75%    145.000000  177.250000
max    219.000000  255.000000

In [45]:
pd.DataFrame(lst_res)[2].value_counts()

Pakistan    258
India       240
Drawn         2
Name: 2, dtype: int64